@use "vars" as vars;
.section {
  background-color: vars.$color-light;
  padding: 20px;
  margin-bottom: 20px;

  &__title {
    font-weight: bold;
    font-size: 18px;
  }

  &__list-item {
    margin-bottom: 10px;
  }
}
